.dashboardItem {
    border: 1px solid #181818;
    border-radius: var(--border-radius);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .95);
    color: var(--white);
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 200px;
    justify-content: space-between;
    padding: 1.5rem;
    position: relative;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label,
.subLabel {
    letter-spacing: -0.5px;
    margin-block: 0;
}

.label {
    width: calc(100% - 56px);
}

.subLabel {
    opacity: .5;
}

.data {
    font-size: 2.4rem;
    margin-block: auto .75rem;
}

.unit {
    font-size: 18px;
    margin-inline-start: .75rem;
    text-transform: initial;
}

.icon {
    background-color: var(--accent);
    border-radius: 6px;
    color: var(--black);
    display: grid;
    font-size: 56px;
    height: 56px;
    inset-inline-end: 1.5rem;
    place-items: center;
    position: absolute;
    width: 56px;

    svg {
        height: 32px;
        width: 32px;
    }
}


@media all and (min-width: 480px) {

}


@media all and (min-width: 768px) {

}

@media all and (min-width: 992px) {
}

@media all and (min-width: 1440px) {

}