.section--donate {
    height: auto;
    position: relative;
}

.section.section--donate {
    min-height: unset;
}

.donate {
    align-items: center;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    padding: .75rem;
    transition: var(--default-transition);

    a {
        border-radius: var(--border-radius);
        display: grid;
        height: 100%;
        place-items: center;
        text-align: center;
    }

    img {
        filter: grayscale(100%) brightness(100);
        height: auto;
        object-fit: cover;
        padding: 1.5rem;
        transition: var(--default-transition);
        width: 85%;

        &:hover {
            filter: none;
        }
    }
}

.donate__text {
    margin-block-end: 9rem;
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 992px) {
    .donate {
        
        img {
            width: 85%;
        }
    }
}

@media all and (min-width: 1440px) {
    .donate {
        img {
            width: 100%;
        }
    }
}