.section--donate {
    background-color: #ffedbe;
    color: #181818;
    height: auto;
    position: relative;
}

.section.section--donate {
    min-height: unset;
}

.donate {
    align-items: center;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
    padding: .75rem;
    transition: var(--default-transition);

    img {
        filter: grayscale(100%) brightness(0);
        height: auto;
        object-fit: cover;
        padding: 1.5rem;
        transition: var(--default-transition);
        width: 95%;

        &:hover {
            filter: none;
        }
    }
}

.donate__text {
    margin-block-end: 3rem;
}

.beneficiary {
    cursor: pointer;
    display: grid;
    place-items: center;
    position: relative;

    img {
        opacity: 1;
        pointer-events: none;
        transition: opacity 150ms ease;
    }

    &:hover {

        img {
            opacity: 0;
        }

        .beneficiary__actions {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }
    }

    .lucide {
        height: 36px;
        width: 36px;
    }
}

.beneficiary__actions {
    display: flex;
    gap: 3rem;
    inset-block-start: 50%;
    inset-inline-start: 0;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translateY(-50%);
    transition: opacity .15s ease;
    visibility: hidden;
    width: 100%
}

.beneficiary__info,
.beneficiary__donate {
    color: var(--bg-color);
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}



@media all and (min-width: 640px) {
    .donate {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 768px) {

}

@media all and (min-width: 992px) {
    .donate {
        grid-template-columns: repeat(3, 1fr);

        img {
            width: 85%;
        }
    }
}

@media all and (min-width: 1440px) {
    .donate {
        img {
            width: 100%;
        }
    }
}