---
const { title, icon, value } = Astro.props;
---

<div class="stat__item">
    <h3 class="stat__title"> {title} </h3>
    <div class="stat__content">
        <span class="material-symbols-outlined stat__icon"> {icon} </span> 
        <span class="stat__value"> {value} </span>
    </div>
</div>

<style>
    .stat__title {
        font-size: 1.3rem;
        font-weight: 300;
        margin-bottom: .75rem;
    }

    .stat__content {
        align-items: center;
        display: flex;
        gap: .75rem;
    }

    .stat__icon {
        font-size: 3rem;
    }

    .stat__value {
        font-size: 3rem;
        font-weight: 600;
    }
</style>