---
import { defaultErrorMap } from "astro:schema";

const token = import.meta.env.TOKEN;

console.log('TOKEN: ' + token); 

const getTrainings = async () => {
    const response = await fetch(`https://www.strava.com/api/v3/athlete/activities?access_token=${ token }`);

    if (!response.ok) {
        throw new Error('Failed to fetch activities');
    }   

    return response.json();
}

const trainings = await getTrainings()
    .then(res => {
        return res;
    })
    .then(data => {
        console.log(data);
        return data;
    });

// Log the trainings
console.log(trainings);
---

<ul>
    {trainings.map((training) => (
        <li>{training.name}</li>
    ))}
</ul>