<nav class="nav">
    <a href="/" class="nav__link">Home</a>
    <a href="/about" class="nav__link">About</a>
    <a href="/training" class="nav__link">Training</a>
    <a href="/blog" class="nav__link">Blog</a>
</nav>

<style>
    .nav__link {
        font-size: 1.3rem;;
        margin-inline-start: 1.5rem;

        &:first-child {
            margin-inline-start: 0;
        }
    }
</style>