---
import LeafletMap from "../components/LeafletMap.jsx";
---

<section class="section section--route">
    <div class="inner-container">
        <h2 class="section__title">Route</h2>
        <div class="route">
            <LeafletMap client:only="react" />
        </div>
    </div>
</section>

<style>

</style>