---
import LeafletMap from "../components/LeafletMap.jsx";
---

<section class="section section--route">
    <div class="inner-container">
        <div class="route">
            <LeafletMap client:only="react" />
        </div>
    </div>
</section>

<style>
    .section--route {
        padding: 0;
        .inner-container {
            max-width: none;
        }
    } 
</style>