---
import Stat from '../components/Stat.astro';
---

<section class="section section--stats">
    <div class="inner-container">
        <div class="stats">
            <Stat title="Total distance" icon="route" value="675 km" />
            <Stat title="Days" icon="timer" value="15 days" />
            <Stat title="Total altitude gain" icon="altitude" value="~13,300 m" />
            <Stat title="Highest point" icon="landscape" value="720 m" />
        </div>
        <br>
        <div>
            Santander → Santillana del Mar	~33 km
            Santillana del Mar → San Vicente de la Barquera	~37 km
            San Vicente → Llanes	~50 km
            Llanes → Ribadesella	~47 km
            Ribadesella → Villaviciosa	~36 km
            Villaviciosa → Avilés	~55 km
            Avilés → Soto de Luiña	~50 km
            Soto de Luiña → Luarca	~47 km
            Luarca → Navia → Tapia de Casariego	~58 km
            Tapia → Ribadeo → Mondoñedo	~67 km
            Mondoñedo → Vilalba	~55 km
            Vilalba → Baamonde → Sobrado dos Monxes	~60 km
            Sobrado dos Monxes → Arzúa	~40 km
            Arzúa → Santiago de Compostela	~40 km
        </div>
    </div>
</section>

<style>
    .section--stats {
        background-color: var(--blue);
        color: var(--yellow);
    }

    .stats {
        display: grid;
        gap: 3rem;   
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
    }
</style>