---
import Stat from '../components/Stat.astro';
---

<section class="section section--stats">
    <div class="inner-container">
        <div class="stats">
            <Stat title="Total distance" icon="route" value="675 km" />
            <Stat title="Days" icon="timer" value="15 days" />
            <Stat title="Total altitude gain" icon="altitude" value="~13,300 m" />
            <Stat title="Highest point" icon="landscape" value="720 m" />
        </div>
    </div>
</section>

<style>
    .section--stats {
        align-items: center;
        background-color: var(--blue);
        color: var(--white);
        display: flex;
        height: 50vh;
        min-height: unset;

        .inner-container {
            width: 100%;
        }
    }

    .stats {
        display: grid;
        gap: 3rem;   
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
    }   
</style>